################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CodingProblems/.vs/CodingProblems
/CodingProblems/bin/Debug/net9.0
/CodingProblems/obj
