################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CodingProblems/.vs/CodingProblems
/CodingProblems/bin/Debug/net9.0
/CodingProblems/obj
/CodingProblems/.vs
/DOTNETCORE/Realme.Mvc/.vs
/DOTNETCORE/Realme.Mvc/bin/Debug/net9.0
/DOTNETCORE/Realme.Mvc/obj
/DOTNETCORE/Realme.NUnit/obj
/DOTNETCORE/Realme.XUnit/bin/Debug/net9.0
/DOTNETCORE/Realme.XUnit/obj/Debug/net9.0
/DOTNETCORE/Realme.XUnit/obj
/DOTNETCORE/Realme.NUnit/bin/Debug/net9.0
